<h1>Listing expenses</h1>

<table id="expenses-table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Date</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Expense</a>