:javascript
  $(function() {
    new MoneyManager.Routers.DashboardRouter({
      expenses: #{@expenses.to_json},
      income_sources: #{@income_sources.to_json}
      })
    Backbone.history.start()
  })
